<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0"
        metadata-complete="false">

    <!--- shiro 1.2 -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>shiroEnvironmentClass</param-name>
        <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value><!-- 默认先从/WEB-INF/shiro.ini，如果没有找classpath:c7/shiro.ini -->
    </context-param>
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <!-- 在没有权限时，只能跳转到固定的页面-->
        <!--<param-value>classpath:c7/shiro.ini</param-value> -->
        <!-- basic拦截器，没有权限或没有登录时 弹出一个登录对话框-->
        <!-- <param-value>classpath:c7/shiro-basicfilterlogin.ini</param-value> -->
        <!-- 表单验证，验证后回到之前的页面-->
        <param-value>classpath:c7/shiro-formfilterlogin.ini</param-value>        
    </context-param>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<error-page>-->
        <!--<error-code>401</error-code>-->
        <!--<location>/WEB-INF/jsp/unauthorized.jsp</location>-->
    <!--</error-page>-->

</web-app>